
<div class="container">
  <div>
    <h3>Friends</h3>
  </div>
  <div class="row">
    <table class="highlight">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th> Action </th>
        </tr>
      </thead>
      <tbody>
      <% current_user.friends.each do |f| %>
        <tr>              
        <% if f.id != current_user.id %>
                
          <td><%= render f %></td>
          <td class="btn-flat disabled"> friend </td>
          <% @friendships.each do |fshid|%>
          <% if (fshid.user_id == f.id or fshid.friend_id == f.id) and (current_user.id == fshid.user_id or current_user.id == fshid.friend_id) %>
          <td><%= link_to 'Delete Friend', delete_path(:id => fshid.id), :method => :delete %></td>
          <% end %>
          <% end %>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  
  <div>
    <h3>Pending Requests</h3>
  </div>
  <div class="row">
    <table class="highlight">
        <thead>
          <tr>
              <th>Name</th>
              <th>Status</th>
              <th> Action </th>
          </tr>
        </thead>

        <tbody>
         <% current_user.show_pending_friends.each do |f| %>
          <tr>
            <td><%= render f %></td>
            <td class="btn-flat disabled">Pending</td>
            <% current_user.show_friendships(f).each do |fshid| %>
                <td><%= link_to 'Delete Request', delete_path(:id => fshid.id), :method => :delete %></td>
               
            <% end %>
          </tr>
        <% end %>
        </tbody>
    </table>
  </div>

   
  <div>
    <h3>Requests</h3>
  </div> 
  <div class="row">
    <table class="highlight">
        <thead>
          <tr>
              <th>Name</th>
              <th>Status</th>
              <th> Action </th>
          </tr>
        </thead>

        <tbody>
        <% current_user.show_friend_requests.each do |fr|%>
          <tr>
            <td><%= render fr %></td> 
            <% current_user.confirm_friendshid(fr).each do |friendship| %> 
              <td><%= link_to 'Accept', confirm_path( :user_id => fr.id, :id => friendship.id ), method: :post, :class => "blue lighten-1 btn" %></td>             
            <% end %>

            <% current_user.show_friendship_requests(fr).each do |fshid| %>
                <td><%= link_to 'Delete Request', delete_path(:id => fshid.id), :method => :delete %></td>
            <% end %>
          </tr>
        <% end %>
  </table>
  </div>

  
  <div class="col l12 flow-text">
    <h3>Suggested Users</h3>
  </div>
  <div class="row">
    <table class="highlight">
          <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
          </thead>

          <tbody>
          <% current_user.sug_users.each do |s| %>
            <tr>
              <% if s.id != current_user.id %>
              <td><%= render s %></td>
              <td><%= link_to 'Add friend', invite_path(:friend_id => s.id), method: :post, :class => "blue lighten-1 btn" %></td> 
              <% end %>
            </tr>
          <% end %>
          </body>
    </table>
  </div>

</div>
