
<div class="row">
  <aside >

  </aside>

<% if current_user  %>
  
    
    <% if current_user == @user %>
    <div class="col s12 m10 l8 xl6 offset-m1 offset-l2 offset-xl3">
      <h2><%= current_user.name.upcase %>'s Posts</h2>
      <div class="card">
        <div class="pad-block pad-left col l8">
        <div class="pad-block pad-left ">
          <%= current_user.name %>
        </div>

        </div>
       
          <div class="card-content">
            <div class="row">
              <%= form_with(model: @post, local: true) do |f| %>
                            
                <div class="input-field col s12">
                <i class="material-icons prefix">textsms</i>
                <%= f.label :"What are you thinking on" %>
                <%= f.text_field :content  %>

                </div>
                 </div>
                </div>
                <div class="card-action teal lighten-5">
                  
                  <%= button_tag(type: 'submit', class: "btn submit light-blue lighten-1") do %>
                    Add <i class="material-icons right ">add</i>
                   <% end %>

                </div>
              <% end %>

      </div>
    </div>
    <% end %>
  </div>
  
  <div>
    <div class="row">
    
    <div class="col s12 m10 l8 xl6 offset-m1 offset-l2 offset-xl3"> 
    <!-- show post -->
    
    <% @posts.each do |post| %>
    <% if post.user == @user %>
      <div class="card">

         <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
         
            <div class="name"><%= post.user.name %></div>
            <div class="pad-block pad-left"> <%= post.content %></div>
              <div class="row  pad-block">
              <%= form_with(model: @like, local: true) do |f| %>
              <%= f.hidden_field :post_id, value: post.id %>
                <div class="col l2"> 
                

              <%= button_tag(type: 'submit', class: "btn submit light-blue lighten-1") do %>
                  Like <i class="material-icons right ">thumb_up</i>
                 <% end %>
                
                </div>
              <% end %>  
                
                <div class="col l3" id="<%= post.id %>" > 
                 <a href="#"> Comments </a>
                
                </div>

                <% if current_user == post.user %>
                  <div class="col l2"><%= link_to 'Edit', edit_post_path(post) %></div>
                  <div class="col l2"><%= link_to "Delete", post_path(post.id), :method => :delete %></div>
                <% end %>
              </div>
              <!-- likes count -->
              <div class="row">
              <div class="col l2"></div>
                <div><%= post.likes.count if post.likes.count > 0  %> </div> 
              </div>
         
          </div>
        </div>
        <!--show comments -->
        <div class="col l12 m12 s12" id=Com<%= post.id %>> 
        
          <% post.comments.each do |comment| %>
            <div class="collection">
                  <div class="row collection-item">
                    <div class="col l1 "></div>  
                    <div class="commenter l8 m8"><%= comment.user.name %> :</div>
                      <div class="row">
                       
                        
                        <div class="col l1 m1"></div>
                        <div class="col l3 m6 row">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= comment.content %></div>

                            <% if current_user %>
                              <div class="col l2">
                              <!-- likes for comments -->
                              <%= form_with(model: @like, local: true) do |f| %>
                                <%= f.hidden_field :comment_id, value: comment.id %>
                                
                                <div class="col l1"> 
                
                                  <%= button_tag(type: 'submit', class: "btn submit light-blue lighten-1") do %>
                                    <i class="material-icons right ">thumb_up</i>
                                  <% end %>
                                  
                                </div>
                              <% end %> 
                            <% end %> 
                            <!-- comments likes count-->
                            <div class="col l1 count">
                                <div><%= comment.likes.count if comment.likes.count > 0 %> </div>
                            </div>
                          </div>
                            <!-- end likes comments-->

                        <% if current_user == comment.user %>
                          <div class="col l1"><%= link_to 'Edit', edit_comment_path(comment) %></div>
                          <div class="col l1"><%= link_to "Delete", comment_path(comment.id), :method => :delete %></div>
                        <% end %>
                      </div>
              </div>
            </div>
          <% end %>



          </div>

        <!-- write comment -->
        <div class="card-content">
          <div class="row">
              <%= form_with(model: @comment, local: true) do |f| %>
                <div class="input-field col s12">
                <%= f.label :comment %>

                <%= f.text_field :content  %>
                <%= f.hidden_field :post_id, value: post.id %>
                </div>
                <div class="card-action">
                  <%= button_tag( :class => "btn-floating btn-large waves-effect waves-light yellow") do %>
                    <i class="material-icons">add</i>
                  <% end %>
                </div>
              <% end %>
          </div>
        </div>
        
    <% end %>
    <% end %>
    <!-- end show post  -->

    </div>
    </div>
</div>
<% else %>
  <div class="row">
    <div class="col l3"></div>
      
      <div class="col s12 m7 l6 center-align">
      <h2 >BookFace</h2>
      <h3>Please become a user</h3>
      <h3>You would not regret it ;)</h3>

      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign in', new_user_session_path %>
    </div>
  </div>
<% end %>
<script>
function isHidden(el) {
    return ($(el).is(":visible"))
}
<% @posts.each do |post| %>
      $("#<%= post.id %>").click(function() {
        if(isHidden("#Com<%= post.id %>")) {
          
          $( "#Com<%= post.id %>" ).hide( "slow" );

        } else {

          $( "#Com<%= post.id %>" ).show( "slow" );
        }
      });
<% end %>

</script>
