<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
      <h1 class="col l12">Friendship</h1>
  </div>

  <table class="highlight">
    <div class="col-12 text-center mt-4">
      <h3>Friends</h3>
    </div>
        <thead>
          <tr>
              <th>Name</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
         <% @friendship.each do |f|%>
          <tr>
            <td><%= f.name %></td>
            <td class="btn-flat disabled"> friend </td>
          </tr>
        <% end %>
        </tbody>
  </table>

  <table class="highlight">
    <div class="col-12 text-center mt-4">
      <h3>Pending Requests</h3>
    </div>
        <thead>
          <tr>
              <th>Name</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
         <% @friendship.each do |f|%>
          <tr>
            <td><%= f.name %></td>
            <td><%= link_to 'Accept', :class => "waves-effect waves-light btn" %></td> 
          </tr>
        <% end %>
        </tbody>
  </table>
  
  <table class="highlight">
    <div class="col-12 text-center mt-4">
      <h3>My Requests</h3>
    </div>
        <thead>
          <tr>
              <th>Name</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
        <% @friendship.each do |f|%>
          <tr>
            <td><%= f.name %></td>
            <td><%= link_to 'Add friend', :class => "waves-effect waves-light btn" %></td> 
          </tr>
        <% end %>
  </table>
  
  
     

</div>
