
<% if current_user  %>
  

  <div class="row">
    <div class="col l2"></div>
    
    <div class="col s12 m7 l8">
    <h2>InstaFeed</h2>
      <div class="card">
        <div class="pad-block pad-left col l8">
        <%= current_user.email.split('@')[0] %>
        </div>
       
            <div class="card-content">
              <div class="row">
                <%= form_with(model: @post, local: true) do |f| %>
                  <div class="input-field col s12">
                  <i class="material-icons prefix">textsms</i>
                  <%= f.label :content %>
                  <%= f.text_field :content  %>
                  <%# <label for="autocomplete-input">What are your thoughts ...</label> %>
                  
                  </div>
              </div>
          </div>
          
        
          <div class="card-action">
            <a ><%= f.submit %></a>
          </div>

       <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
    <div class=" col l2"></div>
    <div class="col l8"> 
    <% @posts.each do |post| %>


        <div class="card">

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
         
            <div><%= post.user.name %></div>
          <div class="pad-block"> <%= post.content %></div>

         
          </div>
      </div>






    <% end %>
    </div>
    </div>
</div>
<% else %>
    <h2>BookFace</h2>
    <h6>Please become our user</h6>
    <h6>You would not regret it ;)</h6>

    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Sign in', new_user_session_path %>
<% end %>
