  <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"> &nbsp; BookFace</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to current_user.name, users_show_path(current_user) %></li>
            <li><%= link_to 'Friendships', friendships_path %></li>
            <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>