<!DOCTYPE html>
<html>
  <head>
    <title>RailsFacebookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v5.0&appId=1846499568984861&autoLogAppEvents=1"></script>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1846499568984861',
      xfbml      : true,
      version    : 'v5.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <%= render 'layouts/header' %>
  <div class="row"> 
    <div class="col l5"></div>
    <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>
  </div>
      <%= yield %>
  </body>
</html>
