<!DOCTYPE html>
<html>
  <head>
    <title>RailsFacebookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <div id="fb-root"></div>
  <%= render 'layouts/header' %>
  <div class="row"> 
    <div class="col l5"></div>
    <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>
  </div>
      <%= yield %>
  </body>
</html>
