<!DOCTYPE html>
<html>
  <head>
    <title>RailsFacebookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta property="og:image" content="https://raw.githubusercontent.com/gonjavi/RailsFacebookApp/master/fbook2.png" />
  </head>

  <body>
  <div id="fb-root"></div>
  <%= render 'layouts/header' %>
  <div class="row"> 
   
    <div class="s12 center-align" >
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>
  </div>
      <%= yield %>
  </body>
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          
 
</html>
